<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>第十二周作業</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- //html -->
    <div id="app">
        <!-- //在這裡面Vue會有作用 -->
        <h1>第十二周作業</h1>
        <h2>作業一</h2>
        <h3>請在這輸入你的名字</h3>
        <h2>{{ text }}</h2>
        <hr>
        {{ text2 }}
        {{ counter }}
        <div v-html="htmlText"></div>
        <a v-bind:href="link">淡江大學</a>
        <br>
        <!-- 新增按鈕 -->
        <button @click="incrementCounter">按我加一</button>
        
        <!-- 下拉式選單與標籤 -->
        <div style="margin-top: 10px;">
            <label for="fruit-select">選擇水果:</label>
            <select id="fruit-select" v-model="selectedFruit" @change="updateFruitDetails">
                <option v-for="fruit in fruits" :value="fruit">{{ fruit.name }}</option>
            </select>
        </div>

        <!-- 顯示選擇的水果資訊 -->
        <div v-if="selectedFruit">
            <p>價格: {{ selectedFruit.price }}</p>
            <p>數量: {{ selectedFruit.num }}</p>
        </div>
    </div>

     <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.8/vue.min.js'>
    </script>
    <script  src="script.js"></script>   -->

     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script3.js"></script>  
</body>
</html>